{% extends 'kingdom/menu.html' %}
{% load static %}

{% block 'title' %} BÍBLIA NVI {% endblock %}

{% block 'head' %}

{% endblock %}


{% block 'main' %}
    <section class="best-bible-book-area">
        <div class="container">
            <div class="row">
                <!-- Single Best bible Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-book-area mb-30">
                        <img src="#{% static 'media/logo.png' %}" alt="Your Logo Here">
                        <div class="receipe-content">
                            <a href="#">
                                <h5>Gênesis</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}