{% extends 'kingdom/menu.html' %}
{% load static %}

{% block 'title' %} Comunidade Kingdom {% endblock %}

{% block 'head' %}

{% endblock %}

{% block 'main' %}
    <section class="">
        <div>
            <h1>Em Breve uma serie de mensagens nos moldando em cristo</h1>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </section>
{% endblock %}