:root {
    --cor-fundo : #0d11dd;
    --cor-hover : #f3870c;
    --cor-primaria : #ffffff;
  }

  .description-church {
    color: var(--cor-primaria);
    text-align: center;
  }

  .who-we-are{
    color: #fff ;
     text-align: center;
  }
