{% load static %}

<footer>
    <div class="footer">
      <div class="row">
        <a href="https://web.facebook.com/kingdomcomunidade?_rdc=1&_rdr" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/comunidadekingdom/" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a>
        <a href="https://api.whatsapp.com/send?phone=5511975797732" target="_blank" rel="noopener noreferrer"><i class="fa fa-whatsapp"></i></a>
      </div>
      <div class="row">
        <ul>
          <li><a href="#">INICIO</a></li>
          <li><a href="{% url 'quemsomos' %}">QUEM SOMOS</a></li>
          <li><a href="#">CULTOS</a></li>
          <li><a href="#">EVENTOS</a></li>
          <li><a href="#">DOAÇÕES</a></li>
        </ul>
      </div>
      <div class="row">
        Copyright © 2023 Comunidade Kingdom - Todos os direitos reservados || Criado por: <a href="https://github.com/MurilloHMS" target="_blank" rel="noopener noreferrer"><strong>MurilloHMS</strong></a>
      </div>
    </div>
  </footer>