{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  <link rel="stylesheet" href="{% static 'css/footer.css' %}">
  <link rel="stylesheet" href="{% static 'css/menu.css' %}">
  <link rel="icon" href="{% static 'media/logo.png' %}" type="image/icon type">
  <title>{% block 'title' %}{% endblock %}</title>
  {% block 'head' %}{% endblock %}
</head>
<body>
  <article class="stage">
      <div class="container">
        {% include 'kingdom/partials/header.html'   %}
      <main>  
        {% block 'main' %}
        {% endblock %}
      </main>
    </div>
  </article>
    {% include 'kingdom/partials/footer.html' %}    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 
</body>
</html>
