{% extends 'kingdom/menu.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block 'main' %}
<h1 style="color: #fff ; text-align: center;">Quem somos?</h1>
<p class="description-church" style="color: #fff ; text-align: center;">Comunidade <strong>Kingdom</strong> é uma comunidade de igreja vibrante e acolhedora localizada em <strong>Mauá</strong>.<br>
    Nossa igreja está empenhada em ajudar as pessoas a crescer em sua fé, aprofundar seu relacionamento com Deus e se conectar com outras pessoas de maneira significativa.<br>
    Oferecemos uma gama de programas e serviços para pessoas de todas as idades e origens, incluindo cultos dinâmicos, estudos bíblicos envolventes e oportunidades de comunhão e divulgação.<br>
    Nossa missão é amar e servir nossa comunidade em nome de Jesus Cristo, e convidamos você a se juntar a nós nesta jornada de fé.<br>
    Se você é novo na área ou está procurando uma igreja, adoraríamos recebê-lo no Comunidade Kingdom.</p>

<h2 style="color: #fff ; text-align: center;">Aonde Estamos?</h2>
<div class="adress" align="center" >
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3654.1317419518336!2d-46.44128042529147!3d-23.671246265637183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce6d917739a4ad%3A0x277c3e5d131f348a!2sComunidade%20Kingdom!5e0!3m2!1spt-BR!2sbr!4v1681411072030!5m2!1spt-BR!2sbr" width="700" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

{% endblock %}